
.business-trip-container {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
}


.panel {
    width: 60vw;
    padding: 1em;
    margin: 1rem;
}

.search-gmail-submit {
    margin-top: 1rem;
}

.sales-trip-table {
    margin: 1rem;
}